*{
    box-sizing: border-box;
}
.row::after{
    content: "";
    clear: both;
    display: block;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}

/*for pc: */
.col-1 {width: 33.33%}
.col-2 {width: 66.67%}
.col-3{width: 100%}

.Ball{
    height: 400px;
    width: 400px;
    background-color: magenta;
    border-radius: 100%;
    text-align: center;
    animation:
    pulse 5s ease infinite alternate,
    nudge 2s linear infinite;
}

.item1{
    padding: 20px;
    border: 1px solid black;

}

.item2{
    background-color: lightseagreen;
    padding: 20px;
    border: 1px solid black;
    float: left;
    width: 25%;

}

.item3{
    background-color: cornsilk;
    padding: 20px;
    border: 1px solid black;
    float: left;
    width: 75%;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

h1, p, a{
    text-align: center;
    font-family: ptSans;
}

h2{

}

@font-face {
    font-family: ptSans;
    src: url("/PT_Sans/PTSans-Regular.ttf");
}

@keyframes pulse {
    0% {background-color:yellow}
    10% {background-color: yellowgreen}
    20% {background-color: greenyellow}
    30% {background-color: turquoise}
    40% {background-color: rgb(0, 68, 255)}
    50% {background-color: rgb(70, 0, 128)}
    60% {background-color: rgb(128, 0, 100)}
    70% {background-color: magenta}
    80% {background-color: red}
    90% {background-color: orangered}
    100% {background-color: orange}
}

@keyframes nudge {
    0%, 100%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(100px,0px);
    }
    80%{
        transform: translate(-100px,0px);
    }
}

@media only screen and (max-width: 4000px) {
    [class*="col-"]{
        width: 100%;
    }
    body{
        background-color: red;
    }

}