<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('assignment10.static', filename = 'css/toast.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('assignment10.static', filename = 'js/toast.js') }}"></script>

    <title>assignment10</title>
</head>
<body onload="show()">
<h1>Insertion Form</h1>
<form id="insertForm", method="POST" , action="/insert_user">
    <input name="first_name" type="text" placeholder="Plz enter your first_name" required>
    <input name="last_name" type="text" placeholder="Plz enter your last_name" required>
    <input name="email" type="email" placeholder="Plz enter your email" required>
</form>
    <button id="submit" onclick="Toast.show('yesss','error')">Submit form
    </button>


<script>
    function submitForm() {
        document.getElementById("insertForm").submit()
    }

    document.getElementById('submit').onclick = function() {
        Toast.show('your user is created','success')
        setTimeout(submitForm, 2000);
    }
</script>

<br>
<h1>Update Form</h1>
<form method="POST" , action="/update_user">
    <input name="id" type="text" placeholder="Enter ID Here" required>
    <input name="firstname" type="text" placeholder="Enter first name Here">
    <input name="lastname" type="text" placeholder="Enter last name Here">
    <input name="email" type="email" placeholder="Enter email Here">
    <input type="submit">
</form>
<br>
<h1>Deletion Form</h1>
<form method="POST" , action="/delete_user">
    <input name="id" type="text" placeholder="Enter ID Here" required>
    <input type="submit">
</form>
<br>
<hr>
{% if users %}
    <h1>List of users:</h1>
    <ul>
    {% for user in users %}
        <li>User ID: {{ user.id }} | First Name: {{ user.first_name }} | Last Name: {{ user.last_name }} | Email: {{ user.email }}</li>
    {% endfor %}
{% endif %}
</ul>
</body>
</html>